{{  docType() }}

<html lang="en">
    <head>
        <title>
            {% block title %} ZF2 Training Application {% endblock %}
        </title>
    </head>
    <body>
        {% block content %} {% endblock %}
    </body>

</html>